<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Municipal_Servcies_Portal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    @* <link rel="stylesheet" href="~/Municipal_Servcies_Portal.styles.css" asp-append-version="true"/> *@
    <link rel="stylesheet" href="~/css/home.css" />
    <link rel="stylesheet" href="~/css/issues.css" />
    <link rel="stylesheet" href="~/css/confirmation.css" />
</head>
<body>
<header class="custom-header">
    <div class="header-outer">
        <div class="header-inner">
            <div class="header-left">
                <div class="header-logo">
                    <img src="~/images/icons/ic_header.svg" alt="Header Icon" width="32" height="32" />
                </div>
                <span class="header-title">Municipal Services</span>
            </div>
            <nav class="header-nav">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link">Dashboard</a>
                <a asp-area="" asp-controller="Issue" asp-action="Create" class="nav-link">Report Issues</a>
                <a asp-area="" asp-controller="Issue" asp-action="Confirmation" class="nav-link">Local Events</a>
                <a asp-area="" asp-controller="Issue" asp-action="Confirmation" class="nav-link">Track Status</a>
            </nav>
        </div>
    </div>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - Municipal_Servcies_Portal - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>